@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex justify-content-center">
        <a class="menu-btn" href="/Home/Index">Home</a> |
        <a class="menu-btn" href="/Home/Register">Register</a> |
        <a class="menu-btn" href="/Home/Login">Login</a>
    </div>
    <h1 class="display-4">Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat quam orci, eu scelerisque sapien feugiat et. Etiam efficitur auctor augue sit amet consectetur. Curabitur rhoncus neque ac nisl fermentum, nec malesuada lectus blandit. Ut venenatis vulputate risus, ut scelerisque massa dignissim non. Nulla tincidunt id est in facilisis. Morbi efficitur metus in sapien euismod, nec dignissim turpis bibendum. Nulla egestas lectus eu turpis accumsan gravida. Proin semper eros eu luctus posuere. Etiam sed urna vel urna efficitur vulputate. Vivamus elementum fringilla lectus, tincidunt tempor magna semper maximus. Nullam molestie risus diam, nec rhoncus ante pulvinar quis. Proin dignissim commodo massa id dapibus. Aliquam tempus velit ut lorem bibendum posuere. Aenean augue nunc, viverra vitae tortor ac, ornare tristique purus. Cras mollis tellus in lacus ornare convallis.

        Phasellus sed quam vel nisl ullamcorper tempor. Vivamus ac convallis diam, et sagittis ante. Aliquam erat volutpat. Maecenas ultricies vestibulum eros, eget commodo justo luctus condimentum. Fusce purus neque, eleifend id tincidunt et, hendrerit at mauris. Mauris efficitur vehicula posuere. Pellentesque vel auctor lacus, nec volutpat orci. Phasellus tristique pulvinar lobortis. Pellentesque tincidunt orci nec sodales rutrum. Nunc eget consectetur eros. Vivamus sollicitudin velit est, nec sodales sem egestas nec. Etiam rutrum hendrerit leo.

        Sed ullamcorper, orci quis consequat auctor, nisl augue facilisis turpis, sed volutpat nisi turpis ac tellus. Curabitur lacinia nunc eget nulla imperdiet accumsan. Proin vel sodales orci, ac tempus ipsum. Maecenas tristique, turpis in vehicula commodo, tortor est vulputate ante, sit amet sagittis ligula turpis nec lectus. Maecenas porttitor eleifend mauris, a dignissim arcu malesuada faucibus. Proin in turpis sodales, lobortis mauris non, varius erat. Quisque tristique malesuada lectus id consectetur. Nulla non elit vitae leo viverra sodales. Sed vel ipsum rutrum, venenatis sem ac, sollicitudin ante. Maecenas a nibh sed lectus aliquet maximus pulvinar quis nibh.

        Vestibulum tincidunt lacus eu felis iaculis, nec placerat justo efficitur. Fusce sed purus ut tortor laoreet semper a vitae mauris. Suspendisse ac ex in mauris malesuada ultrices a eu nisi. Nulla blandit molestie nibh, nec ullamcorper odio molestie in. Proin at tellus vehicula, venenatis risus ac, porta tortor. Vivamus sit amet leo vestibulum, cursus ex et, tempus massa. Vivamus hendrerit, lectus quis malesuada pharetra, dui magna tempus tortor, a ullamcorper tellus ante ut eros. Etiam felis nisl, fringilla et scelerisque non, aliquam et nunc. Vestibulum molestie magna sit amet purus cursus efficitur. Ut porta mauris nec neque ultrices, nec dictum magna condimentum. Donec nec ex in quam tempor volutpat. Vestibulum in tortor pharetra, pharetra lorem ut, eleifend quam. In hac habitasse platea dictumst. Nam sit amet odio pulvinar, auctor tortor ut, ultricies est. Nulla facilisi.

        Sed pharetra fringilla tempus. Cras ac elit eu tortor aliquam tincidunt. Maecenas at sodales nulla. Morbi a lorem nec eros suscipit blandit et et ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris pulvinar felis sed vulputate scelerisque. Fusce eu mauris vel erat euismod rhoncus id in nisl.
    </p>
</div>
