<div class="text-center">
    <div class="d-flex justify-content-center">
        <a class="menu-btn" href="/Home/EventList">Events</a> |
        <a class="menu-btn" href="/Home/UserList">Users</a> |
    </div>
</div>
