@model shturi_eventi2.Models.ViewModels.EventListModel;

@{
    ViewData["Title"] = "Ticket List";
}

<h1>@ViewData["Title"]</h1>
<ul>
    @foreach (var event1 in Model.Events)
    {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@event1.Name</h5>
                    <p class="card-text">@event1.Description</p>
                    <a href="@Url.Action("RemoveTicket", "Home", new { eventId = event1.Id, userId = Model.UserId})" class="btn btn-primary">Remove ticket</a>
                </div>
            </div>

    }
</ul>
