@model shturi_eventi2.Models.ViewModels.TicketListModel

<h2>Ticket List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Event</th>
            <th>User</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (string[] ticket in Model.ticketInfo)
        {
            <tr>
                <td>@ticket[0]</td>
                <td>@ticket[1]</td>
                <td>
                    <form method="post" action="/Home/RemoveTicket">
                        <input type="hidden" name="ticketId" value="@int.Parse(ticket[2])" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
